body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {

  display: flex;
  flex-wrap: wrap;
}

.card {
  max-width: 230px;
  border: 1px solid;
  padding: 16px;
  border-radius: 10px;
  margin: 20px;
}

.card-title {
  font-size: 24px;
  font-style: italic;

}

.card-description{

  font-size: 14px;
}

.card-button {
  background-color: black;
  color: white;
  font-weight: 800;
  border-radius: 10px;
  border-color: gray ;
  border-width: 10px;
  margin-top: 20px;
  padding: 10px;
}

.login-title {

  font-size: 20px;
  margin-top: 50px;
}


.login-box {

  max-width: 200px;

  border: 1px solid;

  margin: 20px;
  padding: 10px;
  justify-content: center;
  text-align: center;
  background-color: black;
  color: white;


}

.InputField {
  width: 180px;
  height: 20px;
  background-color: rgb(195, 195, 195);
  border-radius: 5px;
  border-width: 0;
  margin-bottom: 5px;
}

.password {
  width: 180px;
  height: 20px;
  background-color: rgb(195, 195, 195);
  border-radius: 5px;
  border-width: 0;
  margin-bottom: 5px;

}

.Loginbutton {
  font-size: 10px;
  width: 180px;
  height: 20px;
  border-radius: 3px;
  border-color: none;
}

.no-id {

  font-size: 12px;
}

.SocialButton {

background-color: black;
color: white;
  font-size: 10px;
  width: 180px;
  height: 20px;
  border-radius: 3px;
  border-color: white;
  border-width: 1px;
  margin-bottom: 20px;
}


.counter-box {
 
  text-align: center;
  
  max-width: 206px;
  background-color: #f9f871;
  border: 5px;
  border-color: #ff9671;
  border-radius: 10px;
  border-style:double;
  margin: 30px;

}



.counter-title {


  color: #008f7a;
  font-weight: 800;
  font-size: 30px;
  padding: 15px;


}

.counter-plus-button {

  width: 30px;
  height: 30px;
  font-size: 18px;
  margin: 10px;
}

.counter-minus-button {

  width: 30px;
  height: 30px;
  font-size: 18px;
  margin: 10px;
}

.counter-description {

  font-size: 10px;
  
}